@import "tailwindcss" theme(static);
@import "@nuxt/ui";

body {
  --app-bg: var(--color-theme-white);
  --intercom-launcher-offset: calc(env(safe-area-inset-bottom) + 56px);
  @apply bg-(--app-bg);
}

@theme static {
  --color-theme-black: #131313;
  --color-theme-white: #f9f9f9;
  --color-theme-cyan: #50e3c2;

  --color-theme-50:  var(--color-theme-cyan);
  --color-theme-100: #49d1b3;
  --color-theme-200: #41bea4;
  --color-theme-300: #39ab95;
  --color-theme-400: #2f8e80;
  --color-theme-500: var(--color-theme-black);
  --color-theme-600: #0e0e0e;
  --color-theme-700: #090909;
  --color-theme-800: #040404;
  --color-theme-900: #020202;
  --color-theme-950: #000000;

  --color-green-50:  #eaf0f1;
  --color-green-100: #d4e0e2;
  --color-green-200: #a9c1c5;
  --color-green-300: #7ea2a8;
  --color-green-400: #53838b;
  --color-green-500: #28646e;
  --color-green-600: #205058;
  --color-green-700: #183c42;
  --color-green-800: #10282c;
  --color-green-900: #081416;
  --color-green-950: #000000;
}

@theme {
  --breakpoint-phone: 40rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-widescreen: 90rem;
}

@layer utilities {
  .bottom-safe {
    bottom: env(safe-area-inset-bottom);
  }
  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --ui-text-highlighted: var(--color-theme-black);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter-from {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-left: 1rem;
}

.markdown p:not(:last-child) {
  margin-bottom: 1em;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* NOTE: vertical_padding of Intercom launcher is ignored on mobile devices */

/* Launcher element before message frame open */
.intercom-launcher { 
  bottom: calc(var(--intercom-launcher-offset) + 20px) !important;
}

/* Launcher element after message frame open */
.intercom-launcher-frame {
  transform: translateY(calc(-1 * var(--intercom-launcher-offset))) !important;
}
